label{
    color: #000000;
    font-size: 13px;
}

.mousescroll {
    overflow: hidden;
}

.mousescroll:hover {
    overflow-y: scroll;
}
            
.slimScrollDiv { 
    border: 1px solid #ccc; margin:10px; 
}