.date {
    font-family:fjalla;
    font-size: 6.5vw;
    color: black;
    font-weight: bold;
    margin-top: -55px;
}

.monthyear {
    font-family:fjalla;
    color: black;
    font-size: 3vw;
    font-weight: bold;
    margin-top: -235px;
    padding-left: 120px;
    text-transform: uppercase;
}

.day {
    font-family: fjalla;
    color: black;
    font-size: 3vw;
    font-weight: bold;
    padding-left: 120px;
    text-transform: uppercase;
    margin-top: -10px;
}

.headerDivider {
    border-left:1px solid black;
    border-right:1px solid black;
    height:120px;
    position:relative;
    right:370px;
    top: -120px;
}

hr {
    width: 200px;
    color: black;
    margin-left: 107px;
    margin-top: -10px;
}



