@font-face {
    font-family: font;
    src: url(../fonts/ABOVE%20%20-%20PERSONAL%20USE%20ONLY.ttf);
}

.loginForm {
    width: 350px;
    height: 510px;
    margin-top: 60px;
    margin-left: 495px;
    background-color: white;
}

body {
    background-color: orange;
}