.parent {
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
}

.formCreate {
    margin: 0 auto;
    height: 450px;
    width: 100%;
}

.createPackageHeader {
    background-color: #00897b;
    height: 55px;
}

.createFormH4 {
    font-family: roboto3;
    font-size: 1.8vw;
    padding-top: 15px;
    margin-top: 10px;
    color: white;
}

.formStyle {
    padding-left: 10px;
    padding-top: -30px;
}

.packageDesc {
    padding-bottom: 10px;
}

.createReqField {
    margin-top: 0px;
    padding-left: 20px;
    color: red;
}

.btnAdditional {
    padding-top: -10px;
    margin-top: -20px;
}

.btnService {
    padding-top: -10px; margin-top: -20px;
}

.totalCreatePriceH4 {
    color: black;
    padding-left: 20px;
    font-size: 1vw;
}

.totalAmtH4 {
    padding-left: 20px;
    font-size: 1vw;
}

.btnCreate {
    margin-top: -50px;
    color: black;
    margin-right: 20px;
}

.modalAdditionals {
    width: 550px;
}

.modalArchive {
    width: 60%;
    height: 63%;
    overflow-y: hidden;
}

.modal-header {
    height: 55px;
}

.inclusionsH4 {
    font-family: roboto3;
    font-size: 2.3vw;
    color: white;
}

.modalAdditionalsH4 {
    font-family: roboto3;
    padding-left: 10px;
}

.modalCheckbox {
    padding-bottom: 20px;
    padding-left: 10px;
}

.totalAdditionalPriceH4 {
    color: black;
    padding-left: 350px;
    font-size: 1vw;
}

.totalPriceH4 {
    padding-left: 350px;
    font-size: 1vw;
}

.modalFooter {
    margin-top: 30px;
}

.modalService {
    width: 80%;
}

.headerDivider {
    border-left:1px solid #bdbdbd;
    border-right:1px solid #bdbdbd;
    height:330px;
    position:absolute;
    right:200px;
    top: 55px;
}

.serviceInclusionH4 {
    font-family: roboto3;
    font-size: 2.2vw;
    padding-left: 380px;
    color: white;
}

.servicesH4 {
    font-family: roboto3;
}

.totalServicePriceH4 {
    color: black;
    padding-left: 330px;
    font-size: 1vw;
}

.servicePriceH4 {
    padding-left: 360px;
    font-size: 1vw;
}

.btnServiceDone {
    color: black;
    margin-left: 10px;
}

.modalUpdate {
    width: 650px;
}

#modalUpdatePackage {
    height: 450px;
}

.updatePackageH4 {
    font-family: roboto3;
    padding-left: 180px;
    font-size: 2.3vw;
    color: white;
}

.modalUpdateReqField {
    margin-top: 0px;
    padding-left: 10px;
    color: red;
}

.btnUpdateAdditional {
    color: black;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
}

.btnUpdateService {
    color: black;
    margin-top: 10px;
    margin-right: 10px;
}

.btnUpdateConfirm {
    margin-left: 10px;
    color: black;
}

.btnUpdateCancel {
    color: black;
}

.modalPackageInclusion {
    width: 500px;
}

.modalPackageH4 {
    font-family: roboto3;
    font-size: 1.8vw;
    padding-left: 20px;
    color: white;
}

.btnPackageConfirm {
    color: black;
    margin-left: 10px;
}

.modalRequirement {
    width: 550px;
}

.modalRequirementH4 {
    font-family: roboto3;
    font-size: 2.1vw;
    padding-left: 120px;
    color: white;
}

#modalItem {
    height: 350px;
}

#modalPackageIncludes {
    height: 350px;
}

.additionalListH4 {
    padding-left: 150px;
    font-family: roboto3;
    font-size: 20px;
}

.serviceListH4 {
    padding-left: 150px;
    font-family: roboto3;
    font-size: 20px;
}

.btnRequirementDone {
    color: black;
    margin-right: 20px;
}

.table-header {
    height: 45px;
    background-color: #00897b;
}


.searchBtn {
    margin-left: 140px;
    color: #ffffff;
}


.packageDataGrid {
    margin: 0 auto;
    width: 100%;
}

.dataGridH4 {
    font-family: roboto3;
    font-size: 1.8vw;
    color: white;
    padding-left: 0px;
}

.archiveH4 {
    font-family: roboto3;
    color: white;
    font-size: 2.1vw;
    padding-top: 7px;
}