.container {
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
}

.createForm {
    margin: 0 auto;
    width: 100%;
}

.createFormHeader {
    background-color: #00897b;
    height: 55px;
}

.createFormH4 {
    font-family: fontSketch;
    padding-top: 15px;
    margin-top: 10px;
    color: white;
}

.requirementName {
    padding-left: 10px;
}

.requirementDesc {
    padding-left: 10px;
}

.createFormReqField {
    margin-bottom: 50px;
    padding-left: 20px;
    color: red;
}

.modalUpdate {
    width: 550px;
}

.modal-header {
    height: 55px;
    margin-bottom: 0px;
}

.modalUpdateH4 {
    font-family: fontSketch;
    font-size: 2.2vw;
    padding-left: 115px;
    color: white;
}

.modalUpdateReqField {
    margin-bottom: 50px;
    padding-left: 10px;
    color: red;
}


.table-header {
    height: 45px;
    background-color: #00897b;
}

#modalUpdateRequirement {
    height: 400px;
    overflow-y: hidden;
}


.requirementDataGrid {
    width: 100%;
    margin: 0 auto;
}

.requirementDataGridH4 {
    font-family: fontSketch;
    color: white;
}

.headerDivider {
    border-left:1px solid #bdbdbd;
    border-right:1px solid #bdbdbd;
    height:310px;
    position:absolute;
    right:240px;
    top: 55px;
}

.modalArchive {
    width: 58%;
    height: 63%;
    overflow-y: hidden;
}

.archiveH4 {
    color: white;
    font-size: 2.3vw;
    font-family: fontSketch;
}

.modal-header {
    height: 55px;
    background-color: #00897b;
}

.modalArchiveContent {
    margin-left: 0px;
    width: 700px;
    margin-top: 0px;
}