.box {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerDivider {
    border-left:1px solid #bdbdbd;
    border-right:1px solid #bdbdbd;
    height:310px;
    position:absolute;
    right:240px;
    top: 55px;
}

.headerDivider2 {
    border-left:1px solid #bdbdbd;
    border-right:1px solid #bdbdbd;
    height:250px;
    position:absolute;
    right:380px;
    top: -5px;
}

.modalArchive {
    width: 58%;
    height: 63%;
    overflow-y: hidden;
}

.archiveH4 {
    color: white;
    font-size: 2.3vw;
    font-family: fontSketch;
}

.modal-header {
    height: 55px;
    background-color: #00897b;
}

.modalArchiveContent {
    margin-left: 0px;
    width: 700px;
    margin-top: 0px;
}