.formCreate {
    margin-top: 20px;
    height: 520px;
    margin-left: 30px;
    width: 100%;
}

.createFormHeader {
    background-color: #00897b;
    height: 55px;
}

.formCreateH4 {
    font-family: fontSketch;
    font-size: 1.8vw;
    padding-top: 15px;
    margin-top: 10px;
    color: white;
    padding-left: 55px;
}

#modalServiceCategory {
    height: 300px;
}

.modalServiceCategory {
    width: 500px;
}

.modalCatReqField {
    color: red;
}

.text {
    font-family: fontSketch;
    color: white;
    padding-left: 100px;
    font-size: 2.2vw;
}
.formCreateStyle {
    padding-left: 10px;
}

.modalCategoryHeader {
    height: 55px;
}

.createReqField {
    margin-top: 0px;
    padding-left: 0px;
    color: red;
}

.btnRequirement {
    margin-top: -20px;
}

.modalRequirement {
    width: 600px;
}

.modal-header {
    height: 55px;
}

.listOfReqH4 {
    font-family: fontSketch;
    font-size: 2vw;
    padding-left: 130px;
    color: white;
}

.modalUpdate {
    width: 600px;
    overflow-y: hidden;
}

#modalUpdateService {
    height: 470px;
}

.updateService {
    font-family: fontSketch;
    padding-left: 165px;
    font-size: 2.2vw;
    color: white;
}

.updateFormStyle {
    padding-left: 10px;
}

.serviceDesc {
    padding-left: 10px;
}

.btnUpdateReq {
    margin-top: -20px;
}

.btnUpdateConfirm {
    margin-top: -50px;
}

.modalListOfReq {
    width: 550px;
}

.modalListOfReqH4 {
    font-family: fontSketch;
    font-size: 1.8vw;
    padding-left: 20px;
}

.requirementList {
    padding-left: 150px;
    font-family: arial;
    font-size: 20px;
}

.modalArchive {
    height: 400px;
    width: 600px;
}

.table-header {
    height: 45px;
    background-color: #00897b;
}

.archiveServiceH4 {
    font-family: fontSketch;
    padding-top: 10px;
    font-size: 1.8vw;
    color: white;
    padding-left: 0px;
}

.serviceDataGrid {
    margin-left: 50px;
    margin-top: 20px;
}

.dataGridH4 {
    font-size: 1.8vw;
    color: white;
    padding-left: 0px;
    font-family: fontSketch;
}

.checkbox {
    margin-left: 10px;
}