@font-face {
    font-family: myFirstFont;
    src: url(../fonts/KGBlankSpaceSketch.ttf);
}
html{
    background-color: #ffffff;
}
.vaults-content {
    float: left;
}
table{
    margin-top: 10px;
    table-layout: fixed;
}
td{
    width: 10px;
    height: 10px;
}
table, td {
    border: 2px solid #00beab;
    color: #000000;
}
#datatable th, #datatable td, #datatable1 th, #datatable1 td, #datatable2 th, #datatable2 td, 
#datatable3 th, #datatable3 td, #datatable4 th, #datatable4 td, #datatable5 th, #datatable5 td, 
#datatable-overview th, #datatable-overview td, #datatable-purchase td, #datatable-purchase th, 
#datatable-overviewUnit th, #datatable-overviewUnit td, #datatable-purchased th, #datatable-purchased td{
    border: 2px solid #fafafa;
    table-layout: fixed;
    text-align: center;
}
#interest{
    text-align: right;
}
label b{
    color: #000000;
}
td a{
    color: #000000;
    margin-left: 25%;
    margin-right: 25%;
    padding-right: 20px;
    text-decoration: none;
}
td a:hover, td a:active{
    color: #000000;
    font-style: bold;
    margin-left: 25%;
    margin-right: 25%;
    padding-right: 20px;
    text-decoration: none;
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
}
.h{
    visibility: hidden;
}
.modal-header{
    background-color: #00897b;
    padding: 15px;
}
.modal-header label{
    color: #ffffff;
    font-size: xx-large;
}
.modal-fixed-footer{
    position: fixed;
}
.tabs .indicator {
    background-color: #00897b;
}
.returnBtn, .returnBtn:hover{
    font-family: arial;
    font-weight: bold;
    width: 140px;
}